body {
  background-image: url('Angel.png');
  background-size: 490px;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	max-width: 100%;
	width: 400px;
	margin: 0px auto;
}

.formulario input[type='text'] {
  color: #fff;
	padding: 0px;
	border: none;
	background: #000;
	width: 100%;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size:30px;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: 100px;
	background: #000;
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #222;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 0px 0;
}
